---
import { actions } from 'astro:actions'

import Pencil from '@lucide/astro/icons/pencil'

import Layout from '@layouts/Layout.astro'
import PostInfo from '@components/PostInfo.astro'
import NavLink from '@components/NavLink.astro'

const { id } = Astro.params

if (id === undefined) {
  throw new Error('The post could not be found')
}

const result = await Astro.callAction(actions.posts.get, { id })

if (result.error) {
  throw new Error(result.error.message)
}

const post = result.data
---

<Layout title={post.title}>
  <main class="flex flex-col gap-8 self-center p-4">
    <header class="prose">
      <h1 class="mb-1 text-4xl font-bold">{post.title}</h1>
      <PostInfo post={post} />
    </header>
    <main class="prose">
      <Fragment set:html={post.content} />
    </main>
    <footer class="self-start rounded-full bg-gray-900 px-4 py-2">
      <NavLink href={`/new?id=${post.id}`} dark>
        Edit <Pencil stroke-width={1} size={16} />
      </NavLink>
    </footer>
  </main>
</Layout>
